:host {
  width: 100%;
}
mat-card {
  margin-bottom: 1em;
}

h1 {
  margin-top: 0;
}

.item {
  display: grid;
  grid-template-columns: 3em 1fr auto;
  padding: 10px 0;
  gap: 10px;

  align-items: center;

  border-bottom: 1px solid #ccc;
}
.item:last-child {
  border: 0;
}

.para {
  grid-row: span 2;
}

small {
  display: block;
}

.audytoriya {
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.vykladach {
  grid-column-start: 2;
}

button {
  width: 100%;
}
